# Auto detect text files and perform LF normalization
* text=auto
# fmod
Assets/Plugins/FMOD/**/*.bundle text eol=lf
Assets/Plugins/FMOD/**/Info.plist text eol=lf
*.psd filter=lfs diff=lfs merge=lfs -text
*.meta merge=ours
*.asset filter=lfs diff=lfs merge=lfs -text
